<div class="row">
    <div class="col-xs-6
                col-sm-6
                col-md-4
                col-lg-4">
        <md-list>
            <md-list-item *ngFor="let option of settingOptions">
                <md-icon md-list-avatar>{{option.icon}}</md-icon>
                <h4 md-line><a routerLink="{{option.route}}">{{option.name}}</a></h4>
            </md-list-item>
        </md-list>
        <!--<div class="box">
            <div class="content-title">
                <h3 class="title">Opciones</h3>
            </div>
            <div class="option" *ngFor="let option of optionsForSettings">
                <a routerLink="{{option.route}}">{{option.name}}</a>
            </div>
        </div>-->
    </div>
    <div class="col-xs-6
                col-sm-6
                col-md-8
                col-lg-8">
        <div class="box">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>