<div class="state-card  wrapper">
  <state-card-view *ngIf="state" [state]="state.info" [classCSS]="'normal'"></state-card-view>
  <div class="checkpoints">
        <table class="table table-bordered">
        <tr>
          <th>¿Lo realizaste?</th>
          <th>Nombre</th>
          <th>Descripcion</th>
        </tr>
        <tr *ngFor="let checkpoint of state.checklist">
          <td class="check">
         <!-- <md-checkbox  [(ngModel)]="checkpoint.isAchaived" (change)="printValue($event)" >
          </md-checkbox > -->
          <div [className]="checkpoint.isAchaived ? 'box-check achaived':'box-check no-achaived'" (click)="check(checkpoint)" >
          </div>
         </td>
          <td class="name">{{checkpoint.info.name}}</td>
          <td clas="description">{{checkpoint.info.description}}</td>
        </tr>
      </table>
  </div>
</div>