
/*data of project*/
.project-detail span{
    margin-right: 10px;
}
.project-detail input{
    border: 1px solid transparent;
    border-radius: 2px!important;
    color: #7e7a7a;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    min-width: 1px;
    padding: 2px 7px;
    background-color: transparent;
}
.project-detail input:focus{
    border:1px solid #a0b7a4;
}
.project-detail input:hover{
    border:1px solid #e5e5e5;
}


.message-create {
    margin-left: 10px;
    border-bottom-style: solid;
    border-color: #ddd;
}
.menu-vertical{
    float: left;
    text-align: center;
    width: 80px;
}
.menu-vertical .option  {
    background-color: #b8a4a4;
    color: white;
    border-radius: 0px;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    max-width: 70px;
    text-align: center;
    margin: auto;
    width: 50px;
    margin: 10px auto 10px auto;
    padding: 0px 5px 0px 5px;
    border: solid 2px #8d8e8e;
}
.menu-vertical .option p{
    font-weight: 100;
    letter-spacing: 0.01em;
    line-height: 2px;
    margin-bottom: 1em;
    font-size: 15px;
}
.menu-vertical .title-menu { 
    border: #7ead7e solid 1px;
    border-radius: 0px;
    background: white;
    color: #7b8a79;
}
.menu-horizontal{
    background-color: transparent;
    width: 100%;
}
.main{
    background-color: #7cb987;
    color: white;
    margin-top: 10px;
    margin-bottom: 8px;
}
.exit{
    background-color: transparent;
    color: #3fa947;
    margin-top: 10px;
    margin-bottom: 8px;
}
md-sidenav{
    background-color: #f5f5f5;
}

md-toolbar{
     box-shadow: 5px 0px 5px #adb1ae;
}
.content {
    min-height:300px;
}