<div *ngIf="user">
    <div class="row">
        <div class="col-md-4">
            <img src="{{user.avatar(200)}}" alt="{{user.name}}">
            <h3>{{user.name}}</h3>
            <p>Unido : {{user.createdAt | date }}</p>
        </div>
        <div class="col-md-8">
            <h1>Tabs with simplified api</h1>
            <!--FIX: not displaying the words-->
            <md-tab-group class="demo-tab-group">
                <md-tab label="Earth">
                    This tab is about the Earth!
                </md-tab>
                <md-tab label="Fire">
                    This tab is about combustion!
                </md-tab>
            </md-tab-group>

            <!--<md-progress-bar mode="determinate" value=40></md-progress-bar>
            <md-progress-bar mode="indeterminate"></md-progress-bar>
            <md-progress-bar mode="buffer" value=40 bufferValue="myBufferValue"></md-progress-bar>
            <md-progress-bar mode="query"></md-progress-bar>
            <md-slider></md-slider>
            <md-slider min="1" max="5"></md-slider>
            <md-slider min="1" max="5"></md-slider>
            <md-slider step="5" value="25"></md-slider>
            <md-slider step="5"></md-slider>-->
        </div>
    </div>
</div>