<div class="csstransforms no-csstransforms">
  <table class="table table-header-rotated">
    <thead>
      <tr>
        <th class="headForRow" rowspan="2">Estados del Alpha/ Espacios de actividad
        </th>
        <th colspan="6" *ngFor="let alpha of area.dimensions">{{alpha.name}}</th>
      </tr>
      <tr>
        <th class="rotate" *ngFor="let state of statesForAlpha">
          <div><span>{{state.name}}</span></div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let activitySpace of activitySpaces">
        <th class="row-header">{{activitySpace.name}}</th>
        <td [ngClass]="{'completion':item,
                    'no-completion': !item}"
                     *ngFor="let item of getActivyAlphasRelationshipFor(activitySpace)"></td>
      </tr>
    </tbody>
  </table>
</div>
