<div class="container">
    <md-card>
      <md-card-title>Registre los datos de tu proyecto</md-card-title>
      <md-card-content>
        <form *ngIf="active" (ngSubmit)="onSubmit()" #projectForm="ngForm">
          <md-input class="full-width"  placeholder="Nombre" required [(ngModel)]="model.name" name="name" #name="ngModel" >
          </md-input>
          
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Nombre requerido
          </div>
          
          <md-input class="full-width"  placeholder="Descripcion" required [(ngModel)]="model.description" name="description" #description="ngModel" >
          </md-input>
          
          <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
            Descripcion requerido
          </div>
          
          <button type="submit" [disabled]="!projectForm.form.valid" md-raised-button class="md-raised">Guardar</button>
          <button type="button" md-raised-button class="md-raised" (click)="newProject()">Nuevo</button>
        </form>


      </md-card-content>
    </md-card>
</div>