<div class="container">
  <md-card>
    <md-card-title>Comparte tu proyecto a tus amigos</md-card-title>
    <md-card-content>
      <md-input [(ngModel)]="invitedsEmail" placeholder="Aqui escribe el correo" value="value"></md-input>
      <button  class="main" (click)="send()">
          Invitar
     </button>
      <p>{{message}}</p>
      <table class="table table-bordered">
        <tr>
          <th>Comparto mi proyecto a:</th>
          <th></th>
        </tr>
        <tr *ngFor="let invited of inviteds">
          <td>{{invited}}
          </td>
          <td> <button md-icon-button>
            <md-icon class="md-24" (click)="delete(invited)" >delete_forever</md-icon>
        </button></td>
        </tr>
      </table>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button (click)="close()"> Hecho</button>
    </md-card-actions>
  </md-card>
</div>