<div class="row">
    <alpha-card class="col-xs-12
                col-sm-12
                col-md-3
                col-lg-3" *ngIf="dimension" [dimension]="dimension" [currentState]="dimension.currentState"
        (onChooseState)="onSelectedState($event)"></alpha-card>
    <state-card class="col-xs-12
                col-sm-12
                col-md-9
                col-lg-9"  *ngIf="selectedState" [state]="dimension.getState(selectedState)" (onChooseCheckpoint)="onSelectedCheckpoint($event)">
    </state-card>
</div>
