<div class="alpha-card">
    <md-card [className]="dimension.getType()">
        <md-card-title>{{dimension.info.name}} </md-card-title>
        <md-card-content>
            <div class="state" *ngFor="let state of dimension.info.states" (click)="select(state)">
                <!--  <p [className]="dimension.fulfiledThisState(state) ? 'achieved' : 'noAchieved' ">{{state.name}}</p>
-->
                <p [ngClass]="{'achieved':dimension.fulfiledThisState(state),
                    'noAchieved':!dimension.fulfiledThisState(state),
                    'selected': isSelected(state)}">
                    {{state.name}}</p>
            </div>
        </md-card-content>
    </md-card>
</div>