<div class="header">
    <md-toolbar>
        <button class="sidenav" *ngIf="isLoggedIn" (click)="toggle()">
            <md-icon class="md-24">menu</md-icon>
        </button>
        <img src="/assets/img/logos/logo-horizontal.png" alt="Essboard">
        <div *ngIf="!isLoggedIn" class="option-isLoggin">
            <button class="menu" routerLink="/login">Ingresa</button>
            <button class="menu" routerLink="/signup">Registrate</button>
        </div>
        <div *ngIf="isLoggedIn" class="option-noLoggin">
            <button md-icon-button [md-menu-trigger-for]="menu">
        <md-icon>account_circle</md-icon>
      </button>
            <md-menu class="menu-options" x-position="after" y-position="below" #menu="mdMenu">
                <button md-menu-item routerLink="/me/projects"> Mis proyectos  </button>
                <button md-menu-item routerLink="/me/projects"> Mis competencias </button>
                <button md-menu-item routerLink="/me/practices">Mis practicas</button>
                <button md-menu-item> Ayuda </button>
                <button md-menu-item> Cuenta </button>
                <button md-menu-item (click)="logout()"> Salir </button>
            </md-menu>
        </div>
    </md-toolbar>
</div>