<div class="header">
    <md-toolbar>
        <a class="brand" routerLink="/"><img src="assets/img/logos/logo-horizontal.png" alt="Essboard"></a>
        <div *ngIf="!isLoggedIn" class="option-isLoggin">
            <button class="menu" routerLink="/login">Ingresa</button>
            <button class="menu" routerLink="/signup">Registrate</button>
        </div>
        <div *ngIf="isLoggedIn" class="option-noLoggin">
            <div [md-menu-trigger-for]="menu" class="avatar">
                <img src="{{user.avatar(32)}}" alt="{{user.name}}">
            </div>
        </div>
    </md-toolbar>
</div>
<md-menu class="menu-options" x-position="after" y-position="below" #menu="mdMenu">
    <button md-menu-item routerLink="/me/projects"> Mis proyectos  </button>
    <button md-menu-item routerLink="/me/projects"> Mis competencias </button>
    <button md-menu-item routerLink="/me/practices">Mis practicas</button>
    <button md-menu-item> Ayuda </button>
    <button md-menu-item routerLink="/me/settings/profile"> Configuracion </button>
    <button md-menu-item (click)="logout()"> Salir </button>
</md-menu>